.rightbar-friend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbar-profile-container{
    margin-right: 10px;
    position: relative;
}
.rightbar-profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.rightbar-online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #008000;
    position: absolute;
    top: -2px;
    right: -2px;
    border: 2px solid #ffffff;
}
.rightbar-username{
    font-weight: 500;
}